.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
    flex-direction: column;

}

.searchBox{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

@mixin cleanList{
   list-style: none;
}


ul {
    @include cleanList;
    flex-wrap: wrap;
    padding: 0;
    margin: 10px 0;
    li{
        margin: 5px;
        padding: 10px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 500px;
}

}